.login h3 {
  text-align: left !important;
}

.login p {
  color: black;
  margin: 15px 0px;
}
.underline {
  color: #ec5990;
  text-decoration: underline;
  cursor: pointer;
}

.login button[type="submit"],
input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: capitalize;
  border: none;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}
.login input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0px 2px 7px;
}
.error {
  text-align: left !important;
  color: red !important;
  line-height: 4px;
}
.google-Logo {
  height: 20px;
  margin-right: 1rem;
}
.google-button {
  width: 80%;
}
.or::before {
  display: inline-block;
  content: "";
  border-top: 1px solid #5f5f5f;
  width: 75px;
  margin: 0 1rem;
  transform: translateY(-4px);
}
.or::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #5f5f5f;
  width: 75px;
  margin: 0 1rem;
  transform: translateY(-4px);
}
.bg-custom {
  background-color: lightgrey;
}
