input[type="file"] {
  background-color: white;
  width: 250px;
  font-weight: 600;
  border-radius: 4px;
}
::-webkit-file-upload-button {
  background-color: #ec5990;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
}
@media (max-width: 768px) {
  input[type="file"] {
    background-color: white;
    width: 150px;
  }
}
